@import "../../theme/variables.scss";
@import "../../theme/custom/_variables.scss";

.appContent {
  background-color: $gray;

  .notifContainer {
    position: fixed;
    margin-top: 10px;
  }
}





